
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
    color: white;
}


.main {
    background-color: #0F172A;
    padding: 20px 40px 80px 40px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.03);
	text-decoration:none;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-3{
	margin-bottom:20px;
    align-items: center;
    cursor: pointer;
}

.logo-icon-2 {
    width: 50px;
    height: auto;
}
.logo-icon-3 {
    width: 50px;
    height: auto;

}

.logo-content {
    font-family: monospace;
    font-size: 18px;
    margin-top: 5px;
}

.nav1 ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.list {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
}


.nav2 {
    margin-top: 40px;
    font-family: monospace;
    font-size: 16px;
}

.nav2 ul {
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav2 li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.nav-icon {
    width: 20px;
    height: 20px;
 
}


.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    width: 220px;
    height: 40px;
    border: 2px solid #32a89e;
    border-radius: 25px;
    font-size: 14px;
    padding-left: 15px;
    background-color: transparent;
    color: white;
}


#currency {
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: #32a89e;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-family: monospace;
    background-color: #32a89e;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #26857d;
}


.title {
    text-align: center;
    margin-top: 100px;
}

.title h1 {
    font-size: 48px;
    margin-bottom: 10px;
	transition:transform 0.3s;
}
.content h1{
	       text-align:center;
}
.title h1:hover{
	transform:scale(1.05);
}
.title h3 {
    font-family: monospace;
    color: #cbd5e1;
}

.book {
    margin-top: 25px;
    width: 160px;
    font-size: 16px;
}

.content {     
    width: 100%;
    padding: 60px 20px;
    background-image: linear-gradient(rgba(15, 23, 42, 0.85), rgba(15, 23, 42, 0.85)), url('bg-pic.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-container {
    max-width: 1300px;
    margin: 40px auto;
}

.content h2 {
    color: white;
    text-align: center;
    border: 1px solid white;
    margin: 0 auto 30px auto;
    width: 240px;
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 2px;
	transition:transform 0.3s;
}
.content h2:hover{
	transform:scale(1.05);
}


.center-card-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card, .card-1 {
    width: 280px;      
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    background: #1e293b;
    transition: transform 0.3s , box-shadow 0.3s;
}

.card img, .card-1 img {
    width: 100%;        
    height: 180px; 
    object-fit: cover;     
}


.card-container-2 {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.card-content {
    background-color: #1e293b;
    padding: 15px;
    text-align: center;
}
			
.card-content p {
    font-size: 16px;
    color: white;
    font-weight: 500;
}
a{
     text-decoration:none;
	 color:white;
}

a:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.card:hover, .card-1:hover {
    box-shadow: 0 12px 24px rgba(50, 168, 158, 0.3);
    transform: scale(1.05);
}


.footer-wrapper {
    max-width: 1300px;
    margin: 60px auto 0 auto;
}

footer {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    color: white;
    font-family: monospace;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer img {
    width: 35px;
    height: auto;
}
.form-box {
    max-width: 500px;
    margin: 40px auto;
    background-color: #1E293B; 
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #32a89e; 
}
.logo-2{
	text-align:center;
}

.form-row {
    margin-bottom: 15px;
}


.form-row label {
    display: block;
    font-family: monospace;
    margin-bottom: 5px;
    color: white;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #0F172A; /
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}


textarea.form-input {
    height: 100px;
    padding-top: 10px;
    resize: none; 
}
.contact-section {

  justify-content: space-between;
  align-items: flex-start;
  background: #0d1b2a;  
  color: #fff;
  padding: 40px;
  
}
.contact-form {
  margin-left:400px;
  margin-top:50px;
  width: 45%;
  background: #1b263b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.contact-details{
	margin-top:100px;
	 width: 100%;
  background: #1b263b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   font-family:sans-serif;
}

.contact-form h2, .contact-details h2 {
  margin-bottom: 20px;
  color: #00b4d8;      
}

.contact-details h3 {
  margin-top: 40px;
  color: #00b4d8;
  
  
}

.contact-details ul {
  list-style: none;
  padding: 0;
  display:flex;
  gap:100px;
  text-align:center;
 
}

.contact-details li {
  margin-bottom: 15px;
  line-height: 1.5;
  font-family:sans-serif;
}
.contact-form{
	border-radius:80px;
}
.contact-details{
	border-radius:60px;
}
	 

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
 background-color:transparent;
  border: 2px solid #32a89e;
    border-radius: 25px;
  
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #00b4d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

.contact-form button:hover {
  background: #0096c7;
}

.back-home {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #00b4d8;
  text-decoration: none;
}

.back-home:hover {
  text-decoration: underline;
}
/*signup form*/
body.login-body {
    background-color: #0F172A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    background-color: #1E293B ;
    padding: 35px;
    border-radius: 15px;
    border: 2px solid #32a89e;
    width: 360px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    text-align: center;
}

.login-title {
    color: white;
    font-family: monospace;
    margin-bottom: 25px;
    font-size: 22px;
}

.login-group {
    text-align: left;
    margin-bottom: 15px;
}

.login-label {
    display: block;
    font-family: monospace ;
    margin-bottom: 5px ;
    color: white ;
    font-size: 14px;
}

.login-input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #0F172A ;
    border: 1px solid white ;
    border-radius: 8px;
    color: white;
}

button.login-btn-submit {
    width: 100%;
    padding: 12px ;
    background-color: #32a89e;
    color: white;
    border: 1px solid white ;
    border-radius: 20px ;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease ;
}

button.login-btn-submit:hover {
    background-color: #26857d ;
}

.login-text {
    font-family: monospace;
    font-size: 13px ;
    color: #cbd5e1;
    margin-top: 15px;
}

.login-link {
    color: #32a89e ;
    text-decoration: none ;
}

.login-back {
    display: block ;
    margin-top: 15px ;
    color: #cbd5e1 ;
    font-family: monospace ;
    font-size: 13px ;
    text-decoration: none ;
}
/* register form */
body.new-body {
    background-color: #0F172A ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.new-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-card {
    background-color: #1E293B ; 
    padding: 35px ;
    border-radius: 15px ;
    border: 2px solid #32a89e ; 
    width: 360px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    text-align: center;
}

.new-title {
    color: white ;
    font-family: monospace ;
    margin-bottom: 25px ;
    font-size: 22px ;
}

.new-group {
    text-align: left;
    margin-bottom: 15px;
}

.new-label {
    display: block;
    font-family: monospace ;
    margin-bottom: 5px ;
    color: white;
    font-size: 14px;
}

.new-input {
    width: 100% ;
    height: 40px ;
    padding-left: 10px ;
    background-color: #0F172A; 
    border: 1px solid white ;
    border-radius: 8px ;
    color: white ;
}

button.new-btn-submit {
    width: 100% ;
    padding: 12px ;
    background-color: #32a89e;
    color: white;
    border: 1px solid white ;
    border-radius: 20px ;
    font-family: monospace ;
    font-weight: bold ;
    cursor: pointer;
    margin-top: 10px ;
    transition: background 0.3s ease;
}

button.new-btn-submit:hover {
    background-color: #26857d;
}

.new-text {
    font-family: monospace ;
    font-size: 13px ;
    color: #cbd5e1 ;
    margin-top: 15px ;
}

.new-link {
    color: #32a89e ;
    text-decoration: none ;
}

.new-back {
    display: block ;
    margin-top: 15px ;
    color: #cbd5e1 ;
    font-family: monospace ;
    font-size: 13px ;
    text-decoration: none ;
}
